/* Set the font family and background color for the body */
body {
    font-family: Arial, sans-serif; /* Use Arial font or fallback to sans-serif */
    background-color: #f0f0f0; /* Set the background color to light gray */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    display: flex; /* Use flexbox for layout */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    height: 100vh; /* Set the height to 100% of the viewport height */
}

/* Center-align text inside the container */
#container {
    text-align: center;
}   

/* Styling for the video element */
#video {
    width: 100%; /* Set the width to 100% */
    max-width: 600px; /* Set the maximum width */
    margin: 0 auto; /* Center horizontally */
    display: none; /* Initially hide the video element */
}

/* Styling for the scannedImage element */
#scannedImage {
    width: 100%; /* Set the width to 100% */
    max-width: 600px; /* Set the maximum width */
    margin: 20px auto; /* Center horizontally with some margin at the top */
    display: none; /* Initially hide the scannedImage element */
}

/* Styling for the qrData element */
#qrData {
    font-size: 18px; /* Set the font size */
    margin-top: 10px; /* Set margin at the top */
    text-align: center; /* Center-align text */
    display: none; /* Initially hide the qrData element */
}

/* Styling for the buttons container */
#buttons {
    margin-top: 20px; /* Set margin at the top */
}

/* Styling for buttons */
.button {
    padding: 10px 20px; /* Set padding */
    font-size: 16px; /* Set font size */
    cursor: pointer; /* Set cursor to pointer */
    border: none; /* Remove border */
    border-radius: 5px; /* Add border radius */
    background-color: #4CAF50; /* Set background color */
    color: white; /* Set text color */
    margin: 5px; /* Set margin */
    transition: background-color 0.3s; /* Add transition effect */
}

/* Hover styles for buttons */
.button:hover {
    background-color: #45a049; /* Change background color on hover */
}

/* Styling for file input */
input[type="file"] {
    display: none; /* Hide file input */
}

/* Styling for labels */
label {
    display: inline-block; /* Set display to inline-block */
    padding: 10px 20px; /* Set padding */
    font-size: 16px; /* Set font size */
    cursor: pointer; /* Set cursor to pointer */
    border-radius: 5px; /* Add border radius */
    background-color: #3498db; /* Set background color */
    color: white; /* Set text color */
    margin: 5px; /* Set margin */
    transition: background-color 0.3s; /* Add transition effect */
}

/* Hover styles for labels */
label:hover {
    background-color: #2980b9; /* Change background color on hover */
}
