.tooltip.custom-tooltip .tooltip-inner {
    font-size: 1.25rem; /* Increase font size */
    padding: 1rem; /* Increase padding */
    max-width: none; /* Remove default max-width */
}

.card-strip {
    position: absolute;
    top: 0;
    left: 0;
    width: 0.5rem; /* Adjust the width of the color strip as needed */
    height: 100%;
    border-radius: 0 0.25rem 0.25rem 0;
}

.toggle-icon {
    transition: transform 0.3s ease;
}

.nav-link[aria-expanded="true"] .toggle-icon {
    transform: rotate(-90deg);
}

/* Center the dropdown menu relative to the toggle button */
.dropdown-menu {
    transform: translateX(-50%);
    left: 50%;
}

/* Show dropdown menu on hover */
.nav-item:hover .dropdown-menu {
    display: block;
}

#expandButton {
    transition: color 0.3s, transform 0.3s;
    cursor: pointer;
  }

#expandButton:hover {
    color: #00d084; /* Change to your desired hover color */
    transform: scale(1.1); /* Slightly enlarge the icon */
}